<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>budge: home</title>
    <link rel='shortcut icon' type='image/png' href='/img/favicon.png' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel=" stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="nav black">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">budget</a>
                <a href="#" id="menu" data-target="slide-out" class="sidenav-trigger"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <br>
                    <div class="logo center">
                        <div class="brand-logo">
                            <object class="small-logo" data="/img/header-logo-white.png" type="image/png"></object>
                        </div>
                    </div>
                    <a href="#name"><span class="white-text name"><%=user.username%></span></a>
                    <a href="#budget"><span>later add total</span></a>
                </div>
            </li>
            <li>
                <a style="background-color:rgba(229,28,35,0.1);"><i class="material-icons">home</i> HOME</a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordian">
                    <li>
                        <a class="collapsible-header waves-effect waves-red">PAY PERIODS</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/payperiods/new"><i class="material-icons">create_new_folder</i>NEW PAY
                                        PERIOD</a></li>
                                <%payperiods.forEach((el) => {%>
                                <li><a href="/payperiods/<%=el.id%>"><i
                                            class="material-icons">folder</i><%=el.startDate%> - <%=el.endDate%></a>
                                </li>
                                <%})%>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <a style="z-index: 2; background-color: white; width: 100%; position: fixed; bottom: 61px;" href="/">
                <form action="/sessions?_method=DELETE" method="POST">
                    <button class="btn-large waves-effect waves-light red" type="submit">LOG
                        OUT</button>
                </form>
            </a>
        </ul>
    </header>
    <section>
        <h1>Total</h1>
        <div class="overview-head">
            <div class="overview-text">Income</div>
            <div class="overview-text">Expenses</div>
            <div class="overview-text">Difference</div>
        </div>
        <div class="overview-head">
            <div class="overview-text">00000</div>
            <div class="overview-text">00000</div>
            <div class="overview-text">00000</div>
        </div>
    </section>

    <section>
        <h1>Overview</h1>
        <dir class="overview-head">
            <div class="overview-text">Start</div>
            <div class="overview-text">End</div>
            <div class="overview-text">Days</div>
            <div class="overview-text">Diff</div>
            <div class="overview-text">Link</div>
        </dir>
        <%payperiods.forEach((el) => {%>
        <div class="overview-head">
            <div class="overview-text"><%=el.startDate%></div>
            <div class="overview-text"><%=el.endDate%></div>
            <div class="overview-text"><%=el.days%></div>
            <div class="overview-text">
                <% let total = 0.0; %>
                <%el.item.forEach(num => {%>
                <% total += parseFloat(num.amount);%>
                <%})%>
                <%=total;%>
            </div>
            <div class="overview-text"><a class="btn-small waves-effect waves-light red"
                    href="/payperiods/<%=el.id%>">VIEW</a></div>
        </div>
        <%});%>
    </section>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/sidenav.js"></script>
</body>

</html>